.super-mario {
  width: 200px;
  position: absolute;
  top: 265px;
  
}

.goomba {
  width: 100px;
  position: absolute;
  left: 80px;
  top: 530px;
  left: 112px;
  

}

.baloon {
  top: 70px;
  position: absolute;
  right: 950px;
  z-index: 1;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 55px;
  
}

.bowser {
  width: 200px;
  top: 250px;
  left: 265px;
  position: absolute;
}   